## TPC2 tarefa 2 - Python

In [1]:
import csv
import numpy as np
import pandas as pd
pd.set_option('display.min_rows', 20)
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### <font color = 'green'>World Cup with Pandas</font>
Solve the problems using the data in Pandas dataframes.

In [12]:
# Read the Players and Teams data into dataframes
f = open('Players.csv')
playersDF = pd.read_csv(f)
f = open('Teams.csv')
teamsDF = pd.read_csv(f)
playersDF.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

In [13]:
#Qual jogador (print do ultimo nome) de uma equipa com "ia" no nome, que jogou menos de 200 minutos e fez mais de 100 passes?
jogador = playersDF[playersDF.team.str.contains("ia") & (playersDF.minutes <200) & (playersDF.passes > 100)]

surname=playersDF.loc[431, "surname"]

print("ultimo nome é", surname)

ultimo nome é Kuzmanovic

In [17]:
# Qual é o número médio de passes feitos pelos avançados? Pelos meio-campistas?
avancados= playersDF[playersDF.position == 'forward']
medavan= avancados.passes.mean()
medios= playersDF[playersDF.position == 'midfielder']
medmed= medios.passes.mean()
# Verifique se a resposta especifica qual é qual e não inclua outras
# posições no seu resultado.
print("mediade passes feitos pelos avançados:",medavan)
print("mediade passes feitos pelos medios:",medmed)

mediade passes feitos pelos avançados: 50.82517482517483
mediade passes feitos pelos medios: 95.2719298245614

In [66]:
# Qual equipe tem a maior relação (razão, racio, etc) de goalsFor versus goalsAgainst?
# Imprima apenas o nome da equipa.
# Dica: adicione uma coluna "racio" ao dataframe das equipas e, depois, faça o seu "sort" e, 
# em seguida, use a head(1) ou tail(1) ...
teamsDF["racio"] = teamsDF.goalsFor/teamsDF.goalsAgainst
teamsDF_sorted = teamsDF.sort_values(by = "racio",ascending = False)
teamsDF_sorted.head(1)
team=teamsDF.loc[2, "team"]
print("A equipa que tem maior racio é", team)

A equipa que tem maior racio é Portugal

In [86]:
# Quantos jogadores que jogam numa equipa com ranking <10, jogaram mais de 350 minutos?    
# Lembrete: len() fornece o número de linhas que um dataframe contém 
rank_10 = teamsDF[teamsDF['ranking'] <10]
teams_rank_10_players = playersDF[playersDF.team.isin(teams_rank_10)]
teams_rank_10_players_350min =teams_rank_10_players[teams_rank_10_players['minutes'] > 350]
num_players = len(teams_rank_10_players_350min)
print("O numero de jogadores que jogam numa equipa com ranking <10, jogaram mais de 350 minutos é",num_players)

O numero de jogadores que jogam numa equipa com ranking <10, jogaram mais de 350 minutos é 54

### <font color = 'green'>Titanic with Pandas</font>
Solve the problems using the data in Pandas dataframe.

In [11]:
# Read the Titanic data into a dataframe
f = open('Titanic.csv')
titanicDF = pd.read_csv(f)
titanicDF.head()

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no

In [7]:
# Quantas mulheres casadas embarcaram em Cherbourg?
# Nota: 'first' é uma função no Pandas, então 'titanic.first' irá gerar um erro;
# use 'titanic[' first ']

mulheres_casadas = titanicDF[titanicDF['first'].str.contains("Mrs.") & (titanicDF.embarked =='Cherbourg')]
n_mulheres_casadas=len(mulheres_casadas)
print("Embarcaram em Cherbourg", n_mulheres_casadas, "mulheres casadas")

Embarcaram em Cherbourg 33 mulheres casadas

In [9]:
# Liste a tarifa média paga pelos passageiros em cada uma das cidades de embarque.
city = titanicDF.embarked.unique()
print(city)
Southampton = titanicDF[titanicDF.embarked == 'Southampton']
fare_Southampton = Southampton.fare.mean()
print("Média das tarifas na cidade de Southampton", fare_Southampton )

Cherbourg = titanicDF[titanicDF.embarked == 'Cherbourg']
fare_Cherbourg = Cherbourg.fare.mean()
print("Média das tarifas na cidade de Cherbourg", fare_Cherbourg)

Queenstown = titanicDF[titanicDF.embarked == 'Queenstown']
fare_Queenstown = Queenstown.fare.mean()
print("Média das tarifas na cidade de Queenstown", fare_Queenstown)

['Southampton' 'Cherbourg' 'Queenstown']
Média das tarifas na cidade de Southampton 27.243651393188795
Média das tarifas na cidade de Cherbourg 59.95414404761905
Média das tarifas na cidade de Queenstown 13.276029870129872

In [62]:
# Os valores inexistentes (missing)  no Pandas são nulos (null), impressos como 'NaN' e
# a function pd.isnull(v) verifica se um valor é nulo.
# Que fração dos passageiros não tem valor para a idade?
nulos = titanicDF.isnull().sum().sum()
print("Existem",nulos,"valores nulos na coluna da idade")

Existem 177 valores nulos na coluna da idade