In [8]:
import csv
import pandas as pd

In [9]:
#Para ler o ficheiro escolhido usamos a função "read_csv" 
c = open('2015_Thefts_Cars.csv')
carsDF =pd.read_csv(c)

In [11]:
#Para ver as primeiras 10 linhas usamos a função ".head(10)", em que 10 é o numero de linhas
carsDF.head(10)

     State  Rank                    Make/Model  Model Year Thefts
0  Alabama   1.0  Chevrolet Pickup (Full Size)      2005.0   499
1  Alabama   2.0       Ford Pickup (Full Size)      2006.0   357
2  Alabama   3.0                  Toyota Camry      2014.0   205
3  Alabama   4.0                 Nissan Altima      2014.0   191
4  Alabama   4.0              Chevrolet Impala      2004.0   191
5  Alabama   5.0                  Honda Accord      1998.0   180
6  Alabama   6.0        GMC Pickup (Full Size)      1999.0   152
7  Alabama   7.0      Dodge Pickup (Full Size)      1998.0   138
8  Alabama   8.0                  Ford Mustang      2002.0   122
9  Alabama   9.0                 Ford Explorer      2002.0   119

In [22]:
#Para verificar o tipo de dados usamos a função ".dtypes"
carsDF.dtypes

State          object
Rank          float64
Make/Model     object
Model Year    float64
Thefts         object
dtype: object